# Explicitly ignored folders

.storage
deps
tts

# Explicitly ignored files

.HA_VERSION
.uuid
home-assistant_v2.db
home-assistant.log

*.disabled
*.pyc

.ps4-games.json
emulated_hue_ids.json

*.pickle
.spotify-token-cache
android/adbkey
android/adbkey.pub
ip_bans.yaml
known_devices.yaml
secrets.yaml
www/lovelace/images/*.jpg